@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Conch";
}

<div class="container">
    <img src="~/content/conchlogo.png" />
    <h2>@Conch.Globals.ConnectionString</h2>
</div>